@import './social-list';

.wrapper {
  width: 100%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  @include equal-size;
  max-width: 42.5rem;
  overflow: hidden;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.note {
  margin-top: auto;
  font-size: 0.8rem;
  text-align: center;
}
