@import './social-list';

.wrapper {
  width: 100%;
  padding-bottom: 10rem;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  @include equal-size;
  max-width: 680px;
  overflow: hidden;
  margin: 0 auto;
  padding: 64px 16px;
}

.note {
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  color: grey;
}
