.social-list {
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: 1rem;
    background: rgb(255 255 255 / 10%);
    border-radius: 8px;
    @include backdrop-filter(10px);

    &:hover {
      .link-share:not(.--left) {
        z-index: 1;
      }
    }
  }
}

