:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.main {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

body {
  background: linear-gradient(0deg, rgb(2, 2, 2), rgb(72, 72, 72));
}

.main {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 64px 16px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;

  &__name {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__description {
    padding: 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__image {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: block;
    margin-bottom: 16px;
    object-fit: contain;
    object-position: initial;
    filter: none;
  }
}

.social {
  list-style: none;

  &__item {
    margin-bottom: 1rem
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  border-radius: 8px;
  background-color: black;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: normal;
  color: white;
  border: 1px solid black;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  padding-left: 66px;
  padding-right: 66px;

  &__thumbnail {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(4px, -50%);
    width: 46px;
    height: 46px;
    border-radius: 4px;
  }

  &__title {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.2rem;
    color: inherit;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    color: black;
    background-color: white;

    .link__share {
      // display: flex;
    }
  }

  &__share {
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: 10;
    height: 40px;
    width: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: currentcolor;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
