.cover {
  @include fixed-position;
  @include equal-size;

  &:after {
    content: '';
    @include equal-size;
    display: block;
    background: linear-gradient(0deg, var(--cover-bgcolor__start), var(--cover-bgcolor__end));
  }
}
