.cover {
  position: fixed;
  top: 0;
  left: 0;
  @include equal-size;

  &:after {
    content: '';
    @include equal-size;
    display: block;
    background: linear-gradient(0deg, var(--cover-bgcolor__start), var(--cover-bgcolor__end));
  }
}
