.link {
  $gutter: 4rem;
  display: flex;
  align-items: center;
  padding: 1.1rem 1.2rem;
  padding-left: $gutter;
  padding-right: $gutter;
  @include overflow-break;
  hyphens: auto;
  white-space: normal;
  color: var(--link-textcolor);
  background-color:var(--link-bgcolor);
  border-radius: 8px;
  border: 1px solid var(--link-bordercolor);

  @at-root .social & {
    position: relative;
    z-index: 1;
  }

  &__thumbnail {
    @include absolute-position($top: 50%);
    transform: translate(4px, -50%);
    @include equal-size(2.9rem);
    overflow: hidden;
    border-radius: 4px;

    &-image {
      position: relative;
      top: 0;
      left: 0;
      @include equal-size;
    }
  }

  &__title {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    color: inherit;
    font-weight: 500;
    font-size: var(--font-size);
  }

  &__subtitle {
    @include is-mobile () {
      display: block;
    }
  }

  @include is-not-touchable {
    &:hover {
      color: black;
      background-color: white;
    }
  }
}
