.link-share {
  position: absolute;
  display: none;
  right: 0.2rem;
  z-index: -1;
  @include center-vertically;
  @include equal-size(45px);
  @include center-flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  @include is-not-mobile {
    right: 0.5rem;
    color: white;
    background: rgb(93, 93, 93, 0.5);

    &:hover {
      color: black;
      background-color: white;
    }

    &.--left {
      display: none;
    }
  }

  svg {
    margin-top: -3px; // (1)
  }

  &.--left {
    left: 0;
  }
}

// 1: for visual perception purposes
