.link {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  background-color: black;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: normal;
  color: white;
  padding-left: 66px;
  padding-right: 66px;
  border-radius: 8px;
  border: 1px solid black;

  @at-root .social & {
    position: relative;
    z-index: 1;
  }

  &__thumbnail {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(4px, -50%);
    @include equal-size(46px);
    border-radius: 4px;
  }

  &__title {
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.2rem;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  &__subtitle {
    @include is-mobile () {
      display: block;
    }
  }

  @include is-not-touchable {
    &:hover {
      color: black;
      background-color: white;

      .lindane-text {
        color: black;
        text-decoration: underline;
        text-decoration-color: #1fff1f;
      }
    }
  }
}
