.cover {
  position: fixed;
  top: 0;
  left: 0;
  @include equal-size;
  background: url(../public/portada.webp) no-repeat;
  background-size: cover;
  background-position: center center;

  &:after {
    content: '';
    @include equal-size;
    display: block;
    background: linear-gradient(0deg, rgb(0 0 0), rgb(59 87 56 / 67%));
  }
}
