@import './avatar';
@import './link';
@import './cover';
@import './typo';
@import './fire';

.snake {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @include is-not-mobile {
    display: none;
  }
}
