.link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  background-color: black;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: normal;
  color: white;
  padding-left: 66px;
  padding-right: 66px;
  border-radius: 8px;
  border: 1px solid black;

  &__thumbnail {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(4px, -50%);
    @include equal-size(46px);
    border-radius: 4px;
  }

  &__title {
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.2rem;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    color: black;
    background-color: white;
  }

  &__share {
    display: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: 10;
    @include equal-size(40px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: currentcolor;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
