@mixin equal-size ($size: 100%) {
  width: $size;
  height: $size;
}

@mixin is-mobile () {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin is-not-mobile () {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin is-not-touchable () {
  @media(hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin backdrop-filter ($value) {
  backdrop-filter: blur($value);
  -webkit-backdrop-filter: blur($value);
}

@mixin overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin overflow-break {
  overflow-wrap: break-word;
  word-break: break-word;
}
