@mixin absolute-position ($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin fixed-position ($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin center-flex ($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin center-full {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertically {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horizontally {
  left: 50%;
  transform: translateX(-50%);
}
